force-app/main/default/flows/Sentinel_AccountContext.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <fullName>Sentinel_AccountContext</fullName>
    <label>Sentinel Account Context</label>
    <description>Flow-fronted wrapper over SentinelAccountContextAction. Given an Opportunity or Case, reports the account's other open Cases and Opportunities. Holds no logic of its own.</description>
    <processType>AutoLaunchedFlow</processType>
    <apiVersion>65.0</apiVersion>
    <status>Active</status>

    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>openCaseCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>openOpportunityCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>

    <variables>
        <name>apexOpenCaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>apexOpenOpportunityCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>

    <actionCalls>
        <name>Run_Account_Context</name>
        <label>Run Account Context</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>SentinelAccountContextAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Outputs</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>accountName</assignToReference>
            <name>accountName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>apexOpenCaseCount</assignToReference>
            <name>openCaseCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>apexOpenOpportunityCount</assignToReference>
            <name>openOpportunityCount</name>
        </outputParameters>
    </actionCalls>

    <formulas>
        <name>Open_Cases_As_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!apexOpenCaseCount})</expression>
    </formulas>
    <formulas>
        <name>Open_Opps_As_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!apexOpenOpportunityCount})</expression>
    </formulas>

    <assignments>
        <name>Set_Outputs</name>
        <label>Set Outputs</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>openCaseCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Open_Cases_As_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>openOpportunityCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Open_Opps_As_Text</elementReference>
            </value>
        </assignmentItems>
    </assignments>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Account_Context</targetReference>
        </connector>
    </start>
</Flow>
