force-app/main/default/flows/Sentinel_CreateFollowUp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <fullName>Sentinel_CreateFollowUp</fullName>
    <label>Sentinel Create Follow Up</label>
    <description>Flow-fronted wrapper over SentinelFollowUpAction. Creates a follow-up Task on each given record Id.</description>
    <processType>AutoLaunchedFlow</processType>
    <apiVersion>65.0</apiVersion>
    <status>Active</status>

    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dueInDays</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>createdCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>

    <variables>
        <name>apexCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>

    <actionCalls>
        <name>Run_Follow_Up</name>
        <label>Run Follow Up</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>SentinelFollowUpAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Outputs</targetReference>
        </connector>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dueInDays</name>
            <value>
                <elementReference>dueInDays</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>apexCreated</assignToReference>
            <name>createdCount</name>
        </outputParameters>
    </actionCalls>

    <formulas>
        <name>Created_As_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!apexCreated})</expression>
    </formulas>

    <assignments>
        <name>Set_Outputs</name>
        <label>Set Outputs</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>createdCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Created_As_Text</elementReference>
            </value>
        </assignmentItems>
    </assignments>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Follow_Up</targetReference>
        </connector>
    </start>
</Flow>
