force-app/main/default/flows/Sentinel_Catalog.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <fullName>Sentinel_Catalog</fullName>
    <label>Sentinel Catalog</label>
    <description>Flow-fronted wrapper over SentinelCatalogAction. Lists the objects Sentinel watches and their rules.</description>
    <processType>AutoLaunchedFlow</processType>
    <apiVersion>65.0</apiVersion>
    <status>Active</status>

    <variables>
        <name>includeInactive</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>catalogJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>objectCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>apexObjectCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>

    <actionCalls>
        <name>Run_Catalog</name>
        <label>Run Catalog</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>SentinelCatalogAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Outputs</targetReference>
        </connector>
        <inputParameters>
            <name>includeInactive</name>
            <value>
                <elementReference>includeInactive</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>catalogJson</assignToReference>
            <name>catalogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>apexObjectCount</assignToReference>
            <name>objectCount</name>
        </outputParameters>
    </actionCalls>

    <formulas>
        <name>ObjectCount_As_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!apexObjectCount})</expression>
    </formulas>

    <assignments>
        <name>Set_Outputs</name>
        <label>Set Outputs</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>objectCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjectCount_As_Text</elementReference>
            </value>
        </assignmentItems>
    </assignments>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Catalog</targetReference>
        </connector>
    </start>
</Flow>
