force-app/main/default/flows/Sentinel_Rollup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <fullName>Sentinel_Rollup</fullName>
    <label>Sentinel Rollup</label>
    <description>Flow-fronted wrapper over SentinelRollupAction. Runs staleness checks across every active config in one call.</description>
    <processType>AutoLaunchedFlow</processType>
    <apiVersion>65.0</apiVersion>
    <status>Active</status>

    <variables>
        <name>ownerScope</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>rollupJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>totalCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>objectCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>

    <variables>
        <name>apexTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>apexObjectCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>

    <actionCalls>
        <name>Run_Rollup</name>
        <label>Run Rollup</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>SentinelRollupAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Outputs</targetReference>
        </connector>
        <inputParameters>
            <name>ownerScope</name>
            <value>
                <elementReference>ownerScope</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>rollupJson</assignToReference>
            <name>rollupJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>apexTotal</assignToReference>
            <name>totalCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>apexObjectCount</assignToReference>
            <name>objectCount</name>
        </outputParameters>
    </actionCalls>

    <formulas>
        <name>Total_As_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!apexTotal})</expression>
    </formulas>
    <formulas>
        <name>ObjectCount_As_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!apexObjectCount})</expression>
    </formulas>

    <assignments>
        <name>Set_Outputs</name>
        <label>Set Outputs</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>totalCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_As_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjectCount_As_Text</elementReference>
            </value>
        </assignmentItems>
    </assignments>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Rollup</targetReference>
        </connector>
    </start>
</Flow>
